menuentry "IFELX-mini OS" {

    set gfxpayload=1024x768x32

    multiboot2 /boot/kernel.bin
    boot
}
menuentry "test" {
    echo "GRUB WORKS"
    sleep 2
    multiboot2 /boot/kernel.bin
    boot
}
